.chair {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: none;
  margin: 5rem 10rem;
}

.card h3 {
  margin: 2.5rem 0rem 1rem 0rem;
  font-weight: 600;
}

.card span {
  font-size: 1.5rem;
}

.card span {
  font-size: 1.5rem;
}

.card img {
  object-fit: cover;
  height: 30rem;
  width: 30rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
}

.card img:hover {
  transform: scale(0.9);
}

.core {
  display: flex;
  align-items: center;
  justify-content: center;
}

.core .card {
  margin: 5rem;
}

.faculty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.faculty img {
  border-radius: 50%;
  height: 30rem;
  margin: 4rem 5rem;
  padding-top:1rem;
  border:1px solid black;
}

.faculty-info{
  margin: 4rem 5rem;
  text-align: left;
}

.faculty-info h3{
  font-size: 3rem;
}

.faculty-info span{
  font-size: 4rem;
}

.faculty-info p{
  margin: 0;
}

.size-events{
  display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    background: #1d8f8b;
}

.size-events h3{
  font-weight: 600;
  font-size: 2.5rem;
}

.size-events span{
  font-size: 2rem;
}

.size-events .events{
  display: flex;
  flex-direction: column;
}
